/*
.container{
    width:800px;
    height:400px;
    padding:20px;
    border:1px solid gray;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: black;
}
.image-slider-wrapper{
    overflow: hidden;
}
#image_slider{
    position: relative;
    height: 280px;
    padding:0;
}
#image_slider li{
    max-width: 100%;
    float:left;
    list-style: none;
}
*/

.image-slider-wrapper{
    overflow: hidden;
}

#image_slider{
    position: relative;
    height: 200px;
    padding:0;
}
/*Pegamos todas las imagenes a la izquierda y seguida una tras otra*/
#image_slider li{
    max-width: 100%;
    float:left;
    list-style: none;
}
#image_slider img{
    height:100px;
}
