
#slideshow {
    position:relative;
    height:200px;
    overflow: hidden;
}

#slideshow img {
    position:absolute;
    left:0;
    z-index:8;
    height: 100px;
    background-color: white;
    padding-right: 100px;
    visibility: hidden;
}


