
#slideshow {
    position:relative;
    height:200px;
    overflow: hidden;
}

#slideshow img {
    position:absolute;
    left:0;
    z-index:8;
    height: 100px;
}

#slideshow img.active {
    z-index: 1000;
    -webkit-transform: translate(100em,100);
    -moz-transform: translate(100em,100);
    -o-transform: translate(100em,100);
    -ms-transform: translate(100em,100);
}

@keyframes slidein {
  from {
    margin-left: 0;
  }
  to {
    margin-left: "80px";

  }
}
